@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  max-width: 1300px;
  margin: 0 auto ;
  width: 100%;
}
.b-general{
  border-color: rgba(71,85,105,.1);
}
.dark-bg{
  background: url('/bg.svg');
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  @apply bg-slate-800
}

body::-webkit-scrollbar-thumb {
  background-color: #028cd1;
}

.border-red-500{
  border: 1px solid rgb(239 68 68 / var(--tw-border-opacity));
}